/* src/pages/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente a todo el cuerpo */
}
body{
    background: lightgray;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 90vh; 
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9cbfc6; 
    padding: 60px; 
    border-radius: 10px; 
}

form {
    display: flex;
    flex-direction: column;
    width: 300px; 
    
}

input {
    padding: 8px;
    border-radius: 10px;
    width: 100%; 
    border: 1px solid lightgray; 
    outline: none;
}

input:focus {
    outline: 3px solid #1f7283;
}


label {
    margin-bottom: 10px; 
    padding: 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

button {
    margin: 5px auto; 
    padding: 10px 20px; 
    border-radius: 10px;
    width: 50%; 
    justify-content: center; 
    font-size: 16px; 
    background-color: #4e97a6; 
    color: black; 
    border: none; 
    cursor: pointer; 
    font-family: 'Roboto', sans-serif;
}

button:focus {
    outline: 3px solid #1f7283; 
}